@import "tailwindcss";
:root {
  --darker-amber: hsl(32, 100%, 48%); /* equivalent to bg-amber-600 */
  --dark-amber: hsl(32, 81%, 51%); /* equivalent to bg-amber-600 */

  --light-amber: hsl(38, 68%, 79%); /* equivalent to bg-amber-500 */
 
}
/* Hide the radio indicator dot in dropdown menu items */

